{% extends 'blog/base.html' %}
{% load static %}
{% block body_block %}

<div class="outer-login">
    <div class="login-image">
        <img class="login-image"  src="{% static 'photos/login1.jpg' %}" alt="backgroud photo">
    </div>

 <div class='login-section' 
  style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1>Admin Login</h1>
    <br>
    {% if form.errors %}
    <p>Your username and password didn't match, please try again!</p>
    {% endif %}
  <div style="padding:10px; width: 18em;">
    <form action="{% url 'login' %}" method="POST" style="text-align:right;">
        {% csrf_token %}
        {{form.as_p}}
        <div style="text-align: center;">
        <input type="submit" class='btn btn-dark ' style="padding:5px 20px;" value="Login">
        <input type="hidden" name='next' value="{{next}}">
        </div>
    </form>
  </div>
  <br>
  <h4 style="text-align:center;">You must be A SuperUser! <br>Please check with the site admin</h4>
 </div>

</div>



{% endblock body_block %}