{% extends 'blog/base.html' %}
{% block body_block %}
{% load static %}

<div style="align-items: center; display: flex; box-shadow: 0px 4px 25px 1px rgb(230, 221, 208);">
    <div style="position: absolute; width: 100%; margin: 0px;">
        <div class="row text-center" style=" margin: 0px; 
        text-align: center; justify-content: center; text-shadow: -2px 2px 5px rgb(255, 255, 255);">
            <div class="col-lg-4">
                <h1 class='blog-title ' style=""><strong>  TECHNICAL BLOGS</strong> </h1>
                <a href="#postinglist" style="text-decoration: none;"><img style="padding: 0.5em; " 
                src="{% static 'photos/down-arrow1.png' %}" alt=""> </a>
            </div>
        </div>
    </div>

    <img style="width:100%;" src="{% static 'photos/blog_img2.jpg' %}" alt="blog image">
</div>


{% include 'blog/base2.html' %}


<div class="centerstage" id="postinglist">

    <div class="post-title2" style="font-size: 3em; font-weight: 500; margin-left: 10px;
    text-shadow: -2px 2px 6px rgb(183, 183, 183); color: rgb(54, 54, 54);">Blogs</div>

    {% for post in post_list %}
    <div class="post">
        <h2>
         <a class="post_title" href="{% url 'post_detail' pk=post.pk %}"> {{post.title}}</a>
        </h2>
        <div class="date">
            <p>Published on: {{post.published_date}}</p>
        </div>
        <a  class="post_comment" href="{% url 'post_detail' pk=post.pk %}"> Comments: 
            {{ post.approve_comments.count}}
        </a>
    </div>
    <br>
    {% endfor %}
</div>
 
<div style="padding-bottom: 5em;"> </div>
{% include 'blog/base3.html' %}
   
{% endblock body_block %}